.card{
    border-radius: 10px;
    border: 1px solid skyblue;
    box-shadow: 5px 5px 10px rgb(186, 219, 233);
}
.main-card{
    color: black;
    border: none;
    box-shadow: none !important;
}
.card-image{
    padding: 10px;
    height: 150px;
}
.card-headline{
    height: 100px;
}
.card-button{
    cursor: pointer;
}